@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

h1 {
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
}

.header {
    /* border: 1px solid black; */
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.logo {
    width: 33%;
    /* border: 1px solid black; */
}

.logo img {
    width: 70%;
    height: 100%;
}

.naslov {
    width: 33%;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.meni {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
    width: 33%;
    /* align-items: center; */
    align-items: center;
}

.header ul {
    padding-right: 5vh;
    display: flex;
    list-style-type: none;
}

.header ul li {
    padding-left: 2vh;
}

.page_body {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.footer {
    border: 1px solid black;
    height: 2000px;
}

/* #home {
    position: relative;
    top: 100%;
    transition: top 1s ease-out;
  }
  #home.active {
    top: 0;
  } */

.home_section {
    height: 100vh;
    border: 1px solid black;
    background-color: bisque;
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
}

/* .home_section a {
    border: 1px solid black;
    height: 10px;
    position: absolute;
    top: 5vh;
    left: 0;
} */

.about_section {
    height: 100vh;
    border: 1px solid black;
    background-color: aqua;
}

@media only screen and (max-width: 500px) {
    /* .container {
        width: 90%;
    } */

    .header {
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .meni {
        margin-bottom: 50px;
        border: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .meni ul {
        gap: 2vh;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .meni ul li {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1vh;
        padding-right: 1vh;
        border-radius: 10px;
        width: 33%;
        height: 30px;
    }

    .meni ul li:nth-child(even) {
        background-color: bisque;
    }

    .meni ul li:nth-child(odd) {
        background-color:lightblue;
    }

    .naslov {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 3vh;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        height: 50px;
    }

  }